/* Generals */
:root{
    --darkviolet: #080B12;
    --violet: #141922;
    --grey: #6D7075;
    --darkgrey: #282828;
    --lightgrey: #A3A3A3;
    --green: #86C625;
    --black: #000000;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
    min-height: 50px;
}

body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.button{
    background-color: var(--darkviolet);
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.button-scale{
    transition: 0.3s;
}

.button-scale:hover{
    transform: scale(1.1);
    cursor: pointer;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.7rem;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around{
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}


/* Main Section */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

/* Menù */
.nav-container{
    display: flex;
    width: 230px;
    z-index: 1100;
}

.nav-top a:hover{
    color: var(--white);
}

.mobile-nav{
    display: none;
}

/* Menù Top */
.logo{
    width: 150px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*.nav-border{
    border-left: 2px solid var(--green);
    margin-left: -2.5rem;
    padding-left: 1rem;
}*/

.nav-playlist{
    margin-top: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.nav-top{
    margin-top: 2rem;
    vertical-align: middle;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
}

.nav-top a{
    color: var(--lightgrey);
    text-decoration: none;
}

.nav-top li{
    line-height: 2rem;
    font-size: 0.8rem;
}

.nav-top ul img{
    width: 20px;
    vertical-align: middle;
}
/* Menù Playlist */
.nav-playlist h3{
    color: var(--white);
    margin-left: 2rem;
}
/* Menù Bottom */
.nav-bottom img{
    width: 30px;
    vertical-align: middle;
}

.download{
    margin-bottom: 1px solid var(--lightgrey);
}

.usertext{
    color: var(--white);
}

/* Menù */
.main-container{
    width: calc(100% - 230px);
    background-color: var(--violet);
    overflow: auto;
}

/* Topbar */
aside{
    width: calc(100% - 230px);
    height: 95px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

/* Playlist Section */
.inner-content{
    height: 100%;
    overflow-y: auto;
    color: var(--white);
}

/* Menu Section */
.menu-spotify{
    max-width: 80%;
    margin: 0 auto;
    color: var(--lightgrey);
    margin-top: 95px;
}

.menu-spotify li{
    list-style: none;
    margin-top: 2rem;
}

.menu-spotify a{
    color: var(--lightgrey);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.menu-spotify a:hover{
    color: var(--white);
}

/* Recently Played */
.box-playlist{
    padding-left: 1rem;
}

.recently-played{
    padding-top: 1rem;
}

.cards{
    text-align: center;
}

.card{
    padding: 1rem;
    margin: 0.5rem;
}

.card:first-child{
    margin-left: -1rem;
}

.card img{
    padding-bottom: 1rem;
    max-width: 200px;
    max-height: 200px;
}

.round{
    border-radius: 50%;
}

.card h3{
    padding-bottom: 0.5rem;
}

.card{
    width: calc((100% / 6) - 1rem);
}




/* Player Footer */
.footer-container{
    height: 90px;
    color: var(--white);
    background-color: var(--darkgrey);
}

/* Footer Left*/
.foter-left-container{
    height: 100%;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 3000;
}

.album{
    color: var(--lightgrey);
}

.album:hover{
    color: var(--white);
    cursor: pointer;
}

.footer-left {
    align-items: center;
    flex-basis: 25%;
}

.footer-left img{
    margin: 0rem 1rem;
    width: 70px;
    padding-right: 15px;
}

.wishlist {
    padding-left: 1rem;
    color: var(--grey);
    font-size: 1rem;
}

.wishlist i{
    padding-right: 15px;
}

.song{
    color: var(--lightgrey);
    font-size: 0.7rem;
}

.song a:hover{
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
}

/* Footer Center*/
.play {
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    gap: 10px;
    font-size: 1.5rem;
}

.play ul li{
    list-style: none;
}

.play-icon{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.play-icon i{
    color: var(--lightgrey);
    margin-left: 30px;
}

.play-icon i:hover{
    color: var(--white);
}

.player-control {
    font-size: 1.5rem;
    gap: 40px;
    align-items: center;
}

.slidecontainer {
    width: 100%;
    align-items: center;
    text-align: center;
}

.slidecontainer input{
    width: 60%;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}


/* Footer Right*/
.footer-right {
    align-items: center;
    flex-basis: 25%;
    gap: 25px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer-rights i {
    font-size: 1rem;
}

.audio-section {
    align-items: center;
    gap: 25px;
}

.audio-section i{
    margin-right: 1rem;
    color: var(--lightgrey);
}

.audio-section i:hover{
    color: var(--white);
    cursor: pointer;
}


/* Responsive */
@media screen and (max-width:1200px) {
    .card{
        display: flex;
        width: calc((100% / 3) - 1rem);
        flex-direction: column;
        text-align: center;
        
    }

    .mobile-nav{
        display: none;
    }
}



@media screen and (max-width:768px) {
    .card{
        display: flex;
        width: calc((100% / 2) - 1rem);
        flex-direction: column;
        text-align: center;
    }

    .mobile-nav{
        display: none;
    }
}

@media screen and (max-width:576px) {
    .card{
        width: calc((100% / 2) - 1rem);
        flex-direction: column;
        text-align: center;
        display: flex;
    }

}

@media screen and (max-width:375px) {
    .mobile-nav{
        width: 10px;
        display: flex;
        flex-direction: column;
    }

    .main-container{
        width: calc(100% - 30px);
        text-align: center;
    }


    .aside-topbar{
        display: none;
    }

    .menu-spotify{
        display: none;
    }

    .logo{
        width: 50px;
    }

    .mobile-nav ul li img{
        width: 40px;
        margin-bottom: 2rem;
    }

    .nav-bottom{
        margin-top: 18rem;
        text-align: center;
    }

    .nav-top{
        display: none;
    }

    .card{
        display: flex;
        width: calc(100% - 1rem);
        flex-direction: column;
        text-align: center;
    }

    .box-playlist{
        padding: 1rem;
    }

    .footer-left{
        display: none;
    }

    .footer-right{
        display: none;
    }

    .slidecontainer input{
        width: 30%;
    }
}

