/* Generals */
:root{
    --darkviolet: #080B12;
    --violet: #141922;
    --grey: #6D7075;
    --darkgrey: #282828;
    --lightgrey: #A3A3A3;
    --green: #86C625;
    --black: #000000;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
    min-height: 50px;
}

body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.button{
    background-color: var(--darkviolet);
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.7rem;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around{
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}


/* Main Section */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

/* Nav */
.nav-container{
    display: flex;
}


.logo{
    width: 150px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.nav-border{
    border-left: 2px solid var(--green);
    margin-left: -2.5rem;
    padding-left: 1rem;
}

.nav-playlist{
    margin-top: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.nav-top{
    margin-top: 95px;
    vertical-align: middle;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
}

.nav-top a{
    color: var(--lightgrey);
    text-decoration: none;
}

.nav-top li{
    line-height: 1.5rem;
    font-size: 0.7rem;
}

.nav-top ul img{
    width: 30px;
    vertical-align: middle;
}

.nav-playlist h3{
    color: var(--white);
}

.nav-bottom img{
    width: 30px;
    vertical-align: middle;
}

.download{
    margin-bottom: 1px solid var(--lightgrey);
}

.usertext{
    color: var(--white);
}

/* Menù */
.main-container{
    width: calc(100% - 230px);
    background-color: var(--violet);
    overflow: auto;
}

/* Topbar */
aside{
    width: 100%;
    height: 95px;
    background-color: var(--darkviolet);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

/* Playlist Section */
.inner-content{
    height: 100%;
    overflow-y: auto;
    color: var(--white);
}

/* Menu Section */
.menu-spotify{
    max-width: 80%;
    margin: 0 auto;
    color: var(--lightgrey);
    margin-top: 95px;
}

.menu-spotify li{
    list-style: none;
    margin-top: 2rem;
}

.menu-spotify a{
    color: var(--lightgrey);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

/* Recently Played */
.box-playlist{
    padding-left: 1rem;
}

.recently-played{
    padding-top: 1rem;
}

.cards{
    text-align: center;
}

.card{
    padding: 1rem;
    margin: 0.5rem;
}

.card:first-child{
    margin-left: -1rem;
}

.card img{
    padding-bottom: 1rem;
    max-width: 200px;
    max-height: 200px;
}

.card h3{
    padding-bottom: 0.5rem;
}

.card{
    width: calc((100% / 6) - 1rem);
}


/* Footer */
footer{
    width: 100%;
    height: 95px;
    background-color: var(--darkgrey);
    position: fixed;
    bottom: 0;
    z-index: 2000;
    color: var(--white);
}

.footer-left{
    align-items: center;
    display: flex;
}

.song{
    color: var(--lightgrey);
    font-size: 0.7rem;
}

.play{
    width: 55%;
}

.play-icon{
    height: 50px;
    align-items: center;
}

.play-icon i{
    color: var(--white);
    margin-left: 30px;
}

.play ul{
    display: flex;
    justify-content: center;
}

.play ul li{
    list-style: none;
}

.play i{
    color: var(--grey);
    margin-right: 1rem;
}

.footer-left img{
    margin: 0rem 1rem;
    width: 25%;
    padding: 1rem;
}

.footer-right{
    height: 80px;
    width: 15%;
    align-items: center;
    display: flex;
}

.footer-right i{
    color: var(--white);
    margin-right: 1rem;
}

nav{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}


.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
